body {
    font-family: sans-serif;
    background-color: var(--tg-theme-secondary-bg-color); /* Цвет из темы Телеграма */
    color: var(--tg-theme-text-color);
    margin: 0;
    padding: 20px;
}
.gift-card {
    background: var(--tg-theme-bg-color);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
img { width: 100%; border-radius: 8px; }
button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
}
